<f:layout name="Default"/>
<f:section name="Header">

    <f:render partial="Header/All" arguments="{_all}" />

</f:section>
<f:section name="Main">
    <f:if condition="{menu}">
      <div class="row listepage">
        <div class="col-md-12">
			<div class="input-group-btn select" id="select-{contentObjectData.uid}">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="selected">Je suis ...</span> <span class="caret"></span></button>
				<ul class="dropdown-menu option" role="menu">
				  <f:for each="{menu}" as="item">
						 <f:for each="{item.children}" as="child">
							<li id="{child.data.uid}"><f:link.page pageUid="{child.data.uid}" title="{child.title}">{child.title}</f:link.page></li> 
						 </f:for>
				  </f:for>			  
				</ul>
			</div>
        </div>
     </div>
    </f:if>


</f:section>

